<!DOCTYPE html>
<html>
	<head>
		<title>Welcome!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
		<link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">[Here goes the header]</div>
		<div class="container">
		  <h2 th:text="|League ${league.leagueName}|">League Seniors</h2>

		  <p>There are the following seasons registered in this league</p>
		  <ul>
		    <li th:each="season: ${league.seasonList}" th:text="${season}">
		      Season details
		    </li>
		  </ul>

		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
	</body>
</html>
