<!DOCTYPE html>
<html>
	<head>
		<title>List leagues</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
		<link href="/resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">[Here goes the header]</div>
		<div class="container">

		  <ul>
		    <li th:each="league: ${leagues}">
		      <pre th:text="${league}">RAW</pre>
		      <dl th:object="${league}">
			<dt>Federation Id</dt>
			<dd th:text="*{fedId}">#NUM#</dd>
			<dt>League Name</dt>
			<dd th:text="*{leagueName}">Alevines</dd>
		      </dl>
		    </li>
		  </ul>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
	</body>
</html>

