<!DOCTYPE html>
<html>
	<head>
		<title>Show league seasons</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
		<link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div class="container" th:fragment="content">

		  <h2 th:text="|League ${league.leagueName}|">League Alevins</h2>

		  <ul>
		    <li th:each="season: ${seasons}">
		      <a th:href="${season.getLink()}" th:text="${season.year}">2014-2015</a>
		      <dl th:object="${season}">
			<dd><a th:href="${league.getEditLink()}" th:text="${league.getEditLink()}">Edit</a>
			  <a th:href="${league.getRemoveLink()}" th:text="${league.getRemoveLink()}">Remove</a></dd>
		      </dl>
		    </li>
		  </ul>
		</div>
	</body>
</html>

