<!DOCTYPE html>
<html>
  <head>
    <title>t("List of leagues")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div class="container" th:fragment="content">

      <h1>List of Leagues</h1>

      <div class="list-group">
      <section class="list-group-item" th:each="competition: ${competitions}" th:object="${competition}">
	<h2>
	  <a href="#"
	     th:href="${competition.links.get(0).href}"
	     th:alt="${competition.links.get(0).text}"
	     th:title="${competition.title}">
	    1st Division League
	  </a>
	</h2>

	<ul th:remove="all-but-first" class="list-inline">
	  <th:block th:each="link: *{links}">
	    <li>
	      <a th:href="${link.href}" th:text="${link.text}">Classification</a>
	    </li>

	    <li th:unless="${linkStat.last}">·</li>
	  </th:block>

	  <li>
	    <a th:href="${link.href}" th:text="${link.text}">Calendar</a>
	  </li>
	  <li>
	    <a th:href="${link.href}" th:text="${link.text}">Last matches played</a>
	  </li>
	  <li>
	    <a th:href="${link.href}" th:text="${link.text}">Current journey</a>
	  </li>
	</ul>

      </section>

      <section class="list-group-item" th:remove="all">
      <h2>2nd Division League</h2>

	<ul class="list-inline" th:remove="all-but-first">
	  <li th:each="link: *{links}">
	    <a th:href="${link.href}" th:text="${link.text}">Classification</a>
	  </li>

	  <li>
	    <a th:href="${link.href}" th:text="${link.text}">Calendar</a>
	  </li>
	  <li>
	    <a th:href="${link.href}" th:text="${link.text}">Last matches played</a>
	  </li>
	  <li>
	    <a th:href="${link.href}" th:text="${link.text}">Current journey</a>
	  </li>
	</ul>

      </section>
      </div>


    </div>
  </body>
</html>
