<!DOCTYPE html>
<html>
	<head th:replace="fragments/head :: head">
		<title th:text="#{title}">Create Staff</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/static/css/bootstrap.min.css}"/>
		<link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/static/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">[Here goes the header]</div>
		<div class="container">
			<div class="jumbotron">
				<h2 th:text="#{title}">Create Staff</h2>
	
				<div>Submit url: <span th:text="${submitUrl}" /></div>
	
				<form id="staffForm" th:action="${submitUrl}" th:method="${submitMethod}" th:object="${staff}">
				  <input type="hidden" th:field="$*{federationId}" />
				  <div>
				  	<label th:text="#{form.name}" for="name">Name</label>
				  	<input id="name" type="text" th:field="*{stName}" />
				  </div>
				  
				  <div>
  				  	<label th:text="#{form.surnames}" for="surnames">Surnames (ej: "surname1 surname2")</label>
				  	<input id="surnames" type="text" th:field="*{staffSurnames}" />
				  </div>

				  <div>
				  	<label th:text="#{form.nif}" for="nif">NIF</label>
				  	<input id="nif" type="text" th:field="*{staffNif}" />
				  </div>
				  
				  <div>
				  	<label th:text="#{form.email}" for="email">Email</label>
				  	<input id="email" type="text" th:field="*{staffEmail}" />
				  </div>

				  <div>
					  <label th:text="#{form.birth}" for="birth">Birth</label>
					  <input id="birth" type="date" th:field="*{staffBirth}" />
				  </div>
		
				  <div>
					  <label th:text="#{form.telephones}" for="telephones">Telephones</label>
					  <label th:text="#{form.telephones.example}" for="telephones">(ej: "678912345, 654321987")</label>
					  <input id="telephones" type="text" th:field="*{staffTelephones}" />
				  </div>
				  <hr/>
				  <div>
				  	<label th:text="#{form.address}" for="address">Address</label>
				  	<div>
					  	<label th:text="#{form.street}" for="addRoad">Street</label>
					  	<input id="addRoad" type="text" th:field="*{addRoad}" />
					  	<label th:text="#{form.number}" for="addNumber">Number</label>
					  	<input id="addNumber" type="text" th:field="*{addNumber}" />
					  	<label th:text="#{form.flat}" for="addFlat">Flat</label>
					  	<input id="addFlat" type="text" th:field="*{addFlat}" />
				  	</div>
				  	<div>
					  	<label th:text="#{form.postCode}" for="addPostCode">Postal Code</label>
					  	<input id="addPostCode" type="text" th:field="*{addPostCode}" />
				  	</div>
				  	<div>
					  	<label th:text="#{form.locality}" for="addLocality">Locality</label>
					  	<input id="addLocality" type="text" th:field="*{addLocality}" />
				  	</div>
				  	<div>
					  	<label th:text="#{form.province}" for="addProvince">Province</label>
					  	<input id="addProvince" type="text" th:field="*{addProvince}" />
				  	</div>
				  	<div>
					  	<label th:text="#{form.country}" for="addCountry">Country</label>
					  	<input id="addCountry" type="text" th:field="*{addCountry}" />
				  	</div>
				  </div>
				  
				  <input type="submit" name="submit" value="Create" th:value="#{form.button.create}"/>
	
				</form>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
	</body>
</html>