<!DOCTYPE html>
<html>
	<head>
		<title>List Staff</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
		<link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">[Here goes the header]</div>
		<div class="container">

		<p>Federation Id</p>
		<p th:text="${fedId}">#Fed Number#</p>
		  <ul>
		    <li th:each="staff ${staffList}">
		      <pre th:text="${staff}">RAW</pre>
		      <dl th:object="${staff}">
		      	<dt>Staff status</dt>
		      	<dd><input type="checkbox" name="active" disabled="true" th:checked="*{staffActivated}" /></dd>
				<dt>Staff name</dt>
				<dd th:text="*{staffName}">Name</dd>
				<dd th:text="*{staffSurnames}">Surnames</dd>
				<dt>Staff NIF</dt>
				<dd th:text="*{staffNif}">#Nif number#</dd>
				<dt>Actions</dt>
				<dd><a th:href="${staff.getEditLink()}" th:text="${league.getEditLink()}">Show</a></dd>
				<dd><a th:href="${staff.getEditLink()}" th:text="${league.getEditLink()}">Edit</a></dd>
		      </dl>
		    </li>
		  </ul>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
	</body>
</html>