<!DOCTYPE html>
<html>
	<head>
		<title th:text="#{title}">List Staff</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
		<link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">[Here goes the header]</div>
		<div class="container" th:fragment="content">
      <a class="btn btn-default" th:href="${findLink}">Find Staff</a>
      <a class="btn btn-default" th:href="${createLink}">Create new Staff</a>
		  <ul>
		    <li th:each="staff : ${staffList}">
		      <hr/>
		      <dl th:object="${staff}">
				<dt>Staff name</dt>
				<dd th:text="*{staffName}">Name</dd>
				<dd th:text="*{staffSurnames}">Surnames</dd>

      	<dt>Staff status</dt>
      	<dd><input type="checkbox" name="active" disabled="true" th:checked="*{staffActivated}" /></dd>
				
				<dt>Staff Card Id</dt>
				<dd th:text="*{staffCardId}">#CardId number#</dd>
				
				<dt>Actions</dt>
				<dd><a th:href="${staff.getShowLink()}">Show</a></dd>
				<dd><a th:href="${staff.getEditLink()}">Edit</a></dd>
		      </dl>
		    </li>
		  </ul>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
	</body>
</html>