<!DOCTYPE html>
<html>
<head>
<title th:text="#{title}">Person profile</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
  media="screen" th:href="@{/css/bootstrap.min.css}" />
<link href="../../static/css/core.css" rel="stylesheet" media="screen"
  th:href="@{/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../static/js/bootstrap.min.js"
  th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
  <div th:replace="fragments/header :: header">[Here goes the
    header]</div>
  <div class="container" th:fragment="content">
    <div class="jumbotron" th:object="${person}">

      <div class="pull-right">
        <p>
          <a class="btn btn-default" href="#"
            th:each="link: *{authorizedLinks}"
            th:class="|btn ${link.className}|" th:href="${link.href}"
            th:text="${link.text}">Action on game</a>
        </p>
      </div>
      
      <!--
      <div class="row pull-left">
        <h3>
          <img class="img-responsive img-rounded" th:src="*{avatarLink}" alt="avatar" src="http://www.gravatar.com/avatar/HASH"></img>
        </h3>
      </div>
      -->
      
      <div class="row">
        <table class="table">
          <tr>
            <td><b>Name</b></td>
            <td th:text="*{name} + ' ' + *{surnames}">Name</td>
          </tr>
          <tr>
            <td><b>Alias</b></td>
            <td th:text="*{alias}">Alias</td>
          </tr>
          <tr>
            <td><b>Card Id</b></td>
            <td th:text="*{cardId}">Cardid</td>
          </tr>
          <tr>
            <td><b>Email</b></td>
            <td th:text="*{email}">Email</td>
          </tr>
          <tr>
            <td><b>Telephones</b></td>
            <td th:text="*{telephones}">Telephone</td>
          </tr>
          <tr>
            <td><b>Birth</b></td>
            <td
              th:text="${#calendars.format(person.birth, 'dd/MMM/yyyy HH:mm')}">Birth</td>
          </tr>
          <tr>
            <td><b>Address</b></td>
            <td th:text="*{address}"></td>
          </tr>
        </table>
      </div>

      <div class="row">
        <h3>Teams</h3>
      </div>
      
      <a class="btn btn-default" th:href="${listLink}">Back to list</a>

    </div>
  </div>
  <div th:replace="fragments/footer :: footer">&copy; 2013 The
    Static Templates</div>
</body>
</html>

