<!DOCTYPE html>

<html>
<head>
<title>VACMatch</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
  media="screen" th:href="@{/css/bootstrap.min.css}" />
<link href="../../static/css/core.css" rel="stylesheet" media="screen"
  th:href="@{/css/core.css}" />
<script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"
  data-src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../static/js/bootstrap.min.js"
  th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header">Header</div>

  <div class="container" th:replace="${view} :: content">Here will
    go the content.</div>

  <div th:replace="fragments/footer :: footer">&copy; 2013 The
    Static Templates</div>
</body>

</html>
