<!DOCTYPE html>
<html>
  <head>
    <title th:text="#{title}">Show Calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"
	    data-src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div th:replace="fragments/header :: header">[Here goes the header]</div>
    <div class="container" th:fragment="content">

      <table class="table" th:object="${game.act}">
        <tr>
          <th>Game Day</th>
          <th>Date</th>
          <th>Local team</th>
          <th>Visitor team</th>
          <th>Actions</th>
        </tr>
        <tr>
         <td th:text="${game.matchDay}"></td>
         <td th:text="*{date}?: '--'">-</td>
         <td th:text="*{localStats}?: '--'">-</td>
         <td th:text="*{visitorStats}?: '--'">-</td>
         <td><a class="btn btn-default"
                href="#"
                th:each="link: ${actions}"
                th:class="|btn ${link.className}|"
                th:href="${link.href}"
                th:text="${link.text}">Action on game</a>
	 </td>
        </tr>
      </table>

      <a class="btn btn-default" th:href="${calendarLink}">Back to the calendar</a>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
  </body>
</html>
