<!DOCTYPE html>
<html>
  <head>
    <title>Show league seasons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	  media="screen" th:href="@{/css/bootstrap.min.css}" />
    <link href="../../static/css/core.css" rel="stylesheet" media="screen"
	  th:href="@{/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../static/js/bootstrap.min.js"
	    th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div class="container" th:fragment="content">

      <div th:if="${league} == null">Error: The league does
	not exist</div>
      <div th:if="${league} != null">

	<nav role="actions" class="nav navbar">
	  <a class="btn btn-default"
	     th:href="${createUrl}">Create
	    season</a>
	</nav>

	<h2 th:text="|League
		     ${league.leagueName}|">League Alevins</h2>

	<ul>
	  <li th:each="season: ${seasons}">
	    <a th:href="${season.link}"
	       th:text="${season.name}">2014-2015</a>

	    <pre th:text="|XX ${season}|"></pre>

	    <dl th:object="${season}">

	      <dd>
		<ul>
		  <li>
		    <a th:href="${season.editLink}">Edit season</a>
		  </li>
      <li>
        <a th:href="${season.enrollLink}">Enroll teams</a>
      </li>
		  <li>
		    <a th:href="${season.deleteLink}">Delete season</a>
		  </li>
		  <li>
		    <a th:href="${season.editLeagueLink}">Edit league</a>
		  </li>
		</ul>
	      </dd>
	    </dl>
	  </li>
	</ul>
      </div>
    </div>
  </body>
</html>

