<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:i18n="http://tech.vacmatch.com/ns/i18n"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>t("Show league seasons")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	  media="screen" th:href="@{/css/bootstrap.min.css}" />
    <link href="../../static/css/core.css" rel="stylesheet" media="screen"
	  th:href="@{/css/core.css}" />
    <script src="../../../../static/js/jquery.js" th:src="@{/js/jquery.js}"
	    data-src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../static/js/bootstrap.min.js"
	    th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div class="container" th:fragment="content">

      <div th:if="${league} == null">
        t("Error: The league does not exist")
      </div>

      <div th:if="${league} != null">
        <nav role="actions" class="nav navbar">
          <a class="btn btn-default pull-right"
             th:href="${createUrl}">t("Create season")</a>
        </nav>

        <h2 th:text="${leagueName}">League Alevins</h2>

        <table class="table">
          <tr>
            <th class="col-sm-3">t("Name")</th>
            <th class="col-sm-9">t("Actions")</th>
          </tr>
          <tr th:each="season: ${seasons}">
            <td class="col-sm-3">
              <a th:href="${season.link}"
                 th:text="${season.name}">2014-2015</a>
            </td>
            <td class="col-sm-9">
              <a class="btn btn-default" th:href="${season.editLink}">t("Edit season")</a>
              <a class="btn btn-default" th:href="${season.enrollLink}">t("Enroll teams")</a>
              <a class="btn btn-default" th:href="${season.deleteLink}">t("Delete season")</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

