<!DOCTYPE html>

<html>
	<head>
		<title>Welcome!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="/main/webapp/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
		<link href="/main/webapp/resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/main/webapp/resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	</head>

	<body>
		<div th:replace="fragments/header :: header">Header</div>
		
		<div class="container">
			<div class="jumbotron">
				<h2>Welcome Page</h2>
			</div>
			<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
		</div>
	</body>

</html>