<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../../static/css/bootstrap.min.css" rel="stylesheet"
  media="screen" th:href="@{/css/bootstrap.min.css}" />
<link href="../../../../static/css/core.css" rel="stylesheet"
  media="screen" th:href="@{/css/core.css}" />
<script src="../../../../static/js/jquery.js" th:src="@{/js/jquery.js}"
  data-src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../../static/js/bootstrap.min.js"
  th:src="@{/js/bootstrap.min.js}"></script>
<body>

  <div class="container" th:fragment="content">

    <div th:fragment="edit_soccer">

      <form id="editForm" class="form-horizontal"
        th:action="${submitUrl}" th:method="${submitMethod}"
        th:object="${act}">
        <input th:each="h: ${hiddens}" type="hidden" th:name="${h.key}"
          th:value="${h.value}" /> <input type="hidden"
          th:field="*{actId}" />
        <div class="row">
          <h3 th:text="|Match day *{game.matchDay}|">Match Day</h3>

          <div class="row">
            <label class="col-sm-3 control-label" for="localTeam">Local
              Team</label>
            <label class="col-sm-1 control-label" for="localResult">Goals</label>
            <label class="col-sm-3 control-label" for="visitorTeam">Visitor
              Team</label>
            <label class="col-sm-1 control-label" for="visitorResult">Goals</label>
          </div>
          
          <div class="row">
            <div class="col-sm-3">
              <select class="form-control" id="localTeam"
                name="localTeam" th:field="*{localTeam.teamId}">
                <option th:each="lTeam : ${teamsList}"
                  th:value="${lTeam.teamId}" th:text="${lTeam.teamName}">Local
                  Team</option>
              </select>
            </div>
            <div class="col-sm-1">
              <input class="form-control" id="localResult" type="number"
                th:field="*{localResult}" />
            </div>
            <div class="col-sm-3">
              <select class="form-control" id="visitorTeam"
                name="visitorTeam" th:field="*{visitorTeam.teamId}">
                <option th:each="vTeam : ${teamsList}"
                  th:value="${vTeam.teamId}" th:text="${vTeam.teamName}">Local
                  Team</option>
              </select>
            </div>
            <div class="col-sm-1">
              <input class="form-control" id="visitorResult"
                type="number" th:field="*{visitorResult}" />
            </div>
          </div>

          <div class="row">
            <label class="col-sm-3 control-label" for="date">Date</label>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <input class="form-control" id="date" type="text"
                placeholder="Date" th:field="*{date}" />
            </div>
          </div>

          <div class="row">
            <label class="col-sm-3 control-label" for="location">Location</label>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <input class="form-control" id="location" type="text"
                placeholder="Location" th:field="*{location}" />
            </div>
          </div>

          <div class="row">
            <div class="form-group pull-right">
              <div class="col-sm-3 control-label">
                <label for="referees">Referees</label>
              </div>
              <div class="col-sm-9">
                <label for="referees">(ej: "Referee name,
                  referee name")</label>
                <textarea class="form-control" id="referees"
                  name="referees" type="text" placeholder="Referees"
                  th:text="*{referees}"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div>
          <input type="hidden" id="localStats" name="localStats"
            th:value="${localStats.list}" /> <input type="hidden"
            id="visitorStats" name="visitorStats"
            th:value="${visitorStats.list}" />
          <div class="row">
            <div class="col-md-6">
              <h3>Local Team</h3>
              <table class="table">
                <tr>
                  <th class="col-sm-2">Name</th>
                  <th class="col-sm-3">First yellow card</th>
                  <th class="col-sm-3">Second yellow card</th>
                  <th class="col-sm-2">Red Cards</th>
                  <th class="col-sm-1">Goals</th>
                  <th class="col-sm-1">Call</th>
                </tr>
                <tr
                  th:class="${local.isCalledUp?'':'alert alert-danger'}"
                  th:each="local: ${localStats.list}">
                  <td class="col-sm-2"
                    th:text="${local.staffMember}? ${local.staffMember.person.name} : '--'"></td>
                  <td class="col-sm-3"
                    th:text="${local.firstYellowCard}?: '--'">-</td>
                  <td class="col-sm-3"
                    th:text="${local.secondYellowCard}?: '--'">-</td>
                  <td class="col-sm-2" th:text="${local.redCard}?: '--'">-</td>
                  <td class="col-sm-1" th:text="'--'">--</td>
                  <td class="col-sm-1"><a
                    th:if="${!local.isCalledUp}" class="btn btn-primary"
                    th:href="${local.getCallUpLink()}">Call</a> <a
                    th:if="${local.isCalledUp}" class="btn btn-primary"
                    th:href="${local.getUnCallUpLink()}">Uncall</a></td>
                </tr>
              </table>
            </div>

            <div class="col-md-6">
              <h3>Visitor Team</h3>
              <table class="table">
                <tr>
                  <th class="col-sm-2">Name</th>
                  <th class="col-sm-3">First yellow card</th>
                  <th class="col-sm-3">Second yellow card</th>
                  <th class="col-sm-2">Red Cards</th>
                  <th class="col-sm-1">Goals</th>
                  <th class="col-sm-1">Call</th>
                </tr>
                <tr
                  th:class="${visitor.isCalledUp?'':'alert alert-danger'}"
                  th:each="visitor: ${visitorStats.list}">
                  <td class="col-sm-2"
                    th:text="${visitor.staffMember.person.name}?: '--'"></td>
                  <td class="col-sm-3"
                    th:text="${visitor.firstYellowCard}?: '--'">-</td>
                  <td class="col-sm-3"
                    th:text="${visitor.secondYellowCard}?: '--'">-</td>
                  <td class="col-sm-2"
                    th:text="${visitor.redCard}?: '--'">-</td>
                  <td class="col-sm-1" th:text="'--'">--</td>
                  <td class="col-sm-1"><a
                    th:if="${!visitor.isCalledUp}"
                    class="btn btn-primary"
                    th:href="${visitor.getCallUpLink()}">Call</a> <a
                    th:if="${visitor.isCalledUp}"
                    class="btn btn-primary"
                    th:href="${visitor.getUnCallUpLink()}">Uncall</a></td>
                </tr>
              </table>
            </div>
          </div>

        </div>



        <div class="form-group">
          <label class="col-sm-3 control-label" for="incidents">Incidents</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="incidents" type="text"
              placeholder="Incidents" th:field="*{incidents}"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" for="signatures">Signatures</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="signatures" type="text"
              placeholder="Signatures" th:field="*{signatures}"></textarea>
          </div>
        </div>

        <a class="btn btn-default" th:href="${act.getShowLink()}">Back
          to show game</a> <input class="btn btn-primary" type="submit"
          name="submit" value="Modify act" />
      </form>

    </div>

  </div>
</body>
</html>

