<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:i18n="http://tech.vacmatch.com/ns/i18n"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${action}">Edit calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet"
          media="screen" th:href="@{/css/bootstrap.min.css}" />
    <link href="../../../static/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/css/core.css}" />
    <script src="../../../static/js/jquery.js" th:href="@{/js/jquery.js}"
            data-src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../static/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div th:replace="fragments/header :: header">[Here goes the header]</div>

    <div class="container" th:fragment="content">
      <h2 th:text="${action}">Edit calendar</h2>

      <form id="createForm" class="form-horizontal" th:action="${submitUrl}" th:method="${submitMethod}">
        <input th:each="h: ${hiddens}" type="hidden"
               th:name="${h.key}" th:value="${h.value}" />

        <div class="form-group">
          <label class="col-sm-3 control-label" for="teams">t("Number of teams")</label>
          <div class="col-sm-2">
            <input class="form-control" id="teams" type="number" placeholder="Number of teams" th:name="teamsNumber" th:value="${teamsNumber}?:1" min="1"/>
            <i18n:attr name="placeholder">tc("placeholder", "Number of teams")</i18n:attr>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="rounds">t("Number of rounds")</label>
          <div class="col-sm-2">
            <input class="form-control" id="rounds" type="number" placeholder="Number of rounds" th:name="leagueRounds" th:value="${leagueRounds}?:1" min="1"/>
            <i18n:attr name="placeholder">tc("placeholder", "Number of rounds")</i18n:attr>
          </div>
        </div>
        <a class="btn btn-primary" th:href="${calendarLink}">tc("button", "Cancel")</a>
        <input class="btn btn-primary" type="submit" name="submit" value="Accept"/>
        <i18n:attr name="value">t("Accept")</i18n:attr>
      </form>

    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
  </body>
</html>
