<!DOCTYPE html>
<html>
	<head>
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../../static/js/bootstrap.min.js"></script>
	</head>
	<body>
	  <!-- Navbar -->
	  <div th:fragment="header">
	    <nav class="navbar navbar-default">
	      <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">My project</a>
		</div>
		<div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav">
		    <li><a href="#" th:href="@{/}">Publications</a></li>
		    <li class="dropdown">
		      <a class="dropdown-toggle" data-toggle="dropdown">Federation</a>
		      <ul class="dropdown-menu">
			<li><a href="/federation/info">Information</a></li>
			<li><a href="/federation/teams">Teams</a></li>
			<li><a href="/federation/referees">Referees</a></li>
			<li><a href="/federation/comittee">Competition Comittee</a></li>
		      </ul>
		    </li>
		    <li><a href="#" th:href="@{/league}">Leagues</a></li>
		    <li><a href="#" th:href="@{/rules}">Rules</a></li>
		    <li><a href="#" th:href="@{/press}">Press</a></li>
		    <li><a href="#" th:href="@{/media}">Media</a></li>
		  </ul>

		  <ul class="nav navbar-nav navbar-right">
		    <li sec:authorize="hasRole('ROLE_ANONYMOUS')">
		      <a href="/signin" th:href="@{/admin/login}">Sign in</a>
		    </li>

		    <li sec:authorize="!hasRole('ROLE_ANONYMOUS')">
		      <p class="navbar-text">
			Logged in as <a href="#" class="navbar-link"
					th:text="${#authentication.name}">userName</a>
		      </p>

		      <form class="navbar-form navbar-right" role="login" id="adminLogoutForm" method="POST" action="#" th:action="@{/admin/logout}">
			<div class="form-group">
			  <input type="submit" value="Log out" class="btn btn-default" />
			  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</div>
		      </form>
		    </li>
		  </ul>

		</div>
		<!--/.nav-collapse -->
	      </div>

	    </nav>
	  </div>
	</body>
</html>
