
@namespace html url(http://www.w3.org/1999/xhtml);
@namespace i18n url(http://tech.vacmatch.com/ns/i18n);

body { background-color: #fff; opacity: 1; }

/** REMOVE FROM COMPILED CSS */
* > i18n\:attr, * > i18n|attr {
    border: 2px dashed black;
    background-color: #a55;
    font-size: 0.75em;
    margin:0;
    position: relative;
    display:inline-block;
}

*! > i18n\:attr, *! > i18n|attr {
    border: 1px dashed black
}
/** ENDREMOVE */

html, body { height: 100%}

.navbar-brand{
  padding:0;
  padding-right:40px;
  padding-left:40px;
}

.banner {
  margin:0 auto;
}

.beta{
  margin-left: -40px;
  font-variant:small-caps;
  color: #888;
  top: 4px;
  right: 2px;
}

#content {
  min-height:100%;
  position:relative;
  padding-bottom:40px; /* Height of the footer element */
}

#footer {
  background:#d98241;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

#footer a{
  color:white;
}
