<!DOCTYPE html>
<html>
  <head>
    <title>t("title", "Show league")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>

    <ul th:fragment="admin-navbar" role="navigation actions" class="nav navbar-nav">
      <li><a th:href="${createUrl}">t("Create league")</a></li>
      <li class="active"><a th:href="${listUrl}">t("Show leagues")</a></li>
    </ul>

    <div class="container" th:fragment="content">
      <h2 th:text="${leagueName}">League Seniors</h2>

      <p>t("There are the following seasons registered in this league")</p>
      <ul>
	<li th:each="season: ${league.seasonList}" th:text="${season}">
	  Season details
	</li>
      </ul>

    </div>
  </body>
</html>
